certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
hooker==0.3.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
SQLAlchemy==1.2.12
style==1.1.0
update==0.0.1
urllib3==1.23
Werkzeug==0.15.3
