<html><head><title>
	Worm Nest
</title></head>

<body>
	<h2> Welcome to <i>Worm Nest</i> </h2>

	<h4> Official Repo: <a href="https://github.com/operatorequals/wormnest">https://github.com/operatorequals/wormnest</a> </h4>


	<h4> Available endpoints: </h4>
	<ul>
		<li>
			<a href="{{ manage_url }}show"> Show Aliases </a> 
		</li>

		<li>
			<a href="{{ manage_url }}upload"> Upload a File </a> 
		</li>
<br>

		<li>
			<a href="{{ manage_url }}add"> Create URL Alias</a> 
		</li>

		<li>
			<a href="{{ manage_url }}del"> Delete URL Alias </a> 
		</li>
<br>

		<li>
			<a href="{{ manage_url }}load_defaults"> Reload Defaults </a> 
		</li>


	</ul>
</body>
</html>