<html><head><title>
	URL aliases
</title></head>	

<table border="1">
<b>
	    <tr>
<td>Real Path</td>
<td>Alias URL</td>
<td>Expires after N clicks</td>
<td>Served as</td>
    </tr>
</b>

    {% for entry in entries %}
    <tr>
<td>{{ entry.path }}</td>
<td>/{{ entry.url_alias }}</td>
<td align="center">{{ entry.expires_after_clicks }}</td>
<td>{{ entry.attachment }}</td>
<td>
	<form action="del" method="post">
		<input hidden="true" name="alias" value="{{ entry.url_alias }}" />
		<button type="submit" value="del">Delete</button>
	</form>
</td>
    </tr>

    {% endfor %}
</table>
