<html><head>
<title>
File Upload
</title>
	<script>
function getFileName(){
	var x = document.getElementById('entry_value')
	document.getElementById('fileName').innerHTML = x.value.split('\\').pop()
}
	</script>
</head>
<body>

<h2>Upload a file to Wormnest</h2>
<br>

  <form action="upload" method="post" enctype="multipart/form-data">
  	<table>
  		<tr>
  	<td>
  	File:
  </td>
  <td>
	  <div class="form" width="20%" height="20%" style="border:1px solid black;">
		  <input name="file" id="entry_value" width="20%" height="20%" ref="fileInput" type="file" onchange="getFileName()">
	  </div>
	</td>
		</tr>

	<tr>
		<td>
	Filename to store:
		</td>
		<td>
	<input type="text" name="filename" value=""><br>
		</td>
	</tr>
	<tr>
		<td>
	Automatically create URL alias:
		</td>
		<td>
	<input type="checkbox" name="create_alias" value="True">
		</td>
	</tr>
	<tr>
		<td>
	Alias to serve:
		</td>
		<td>
	/<input type="text" name="alias" ><br>
		</td>
	</tr>
	<tr>
		<td>
	Filename to serve:
		</td>
		<td>
	<input type="text" name="deliver_filename" ><br>
		</td>
	</tr>
	<tr>
		<td>
<button type="submit" value="Upload">Submit</button>
		</td>
	</tr>
  </form>
</table>
<h3>{{ message }}</h3>

  	</body>
</html>
